<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>How increased nutritional awareness <br><em>can help improve your wellness </em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>
                            <div class="fl-right">
                              <img src="app/styles/images/nutritional-awareness.jpg" width="261" height="197" alt="positive self talk">
                            </div>                        
                                <li>The <em>Daily Well Habits™ Checklist</em> covers fundamental nutritional information that everyone should be aware of and develop into Nutritional Well Habits.</li>
                                <li>The information below gives you additional quick reference pointers that you can
                                utilise to enhance your wellness via good nutrition:</li>
                                <li><em>On waking , start the day with a glass of water</em> to aid re-hydration of body tissues. Adding a squeeze of lemon or lime juice will help get digestive juices flowing and kick-start the liver into action.</li>
                                <li><em>Plan ahead</em>. Take control of your food environment at home and at work, and
establish new routines. Planning ahead includes thinking about your work and social schedule for the whole week, writing a grocery list before you go shopping so you’re more likely to stick to it, preparing meals in advance and freezing them, packing and bringing your own lunch from home, and stocking your fridge with tons of fruits, vegetables, salads and soups.</li>
<li><em>Breakfasts with protein as well as carbohydrates</em> will give you the most energy for the longest time. Choose cereals containing ‘slow-release’ carbohydrates such as porridge oats or all-bran, in preference to those with ‘fastrelease’ carbohydrates such as cornflakes. Good breakfasts are porridge with non-dairy milk (such as oat milk or soya milk) with added wheatgerm; oats with
live yogurt, fresh fruit, and nuts or seeds (preferably ground); eggs and wholemeal or rye bread toast; muesli or other wholegrain cereal; kippers; etc.</li>
<li><em>Drink water throughout the day</em>, aiming for at least 6-8 glasses. Minimise your intake of sugary or carbonated drinks. These will give you a temporary lift for 4 to 6 hours but will be followed by a slump. Instead go for herbal teas such as peppermint, lemon and ginger, which have a stimulant effect; green tea; and vegetable and fruit juices.</li>
<li><em>Avoid or limit your intake of caffeine</em> via coffee, colas, stimulant drinks like ‘Red Bull’ or over-the-counter caffeine-based ‘Energy Pills’. Although these initially increase the level of arousal and make you feel temporarily more alert, long-term use can harm the body. Excess caffeine can cause restlessness, irritability, palpitations, urinary problems, sleep disturbance, impaired mental
performance, anxiety, panic attacks and adrenal exhaustion (the adrenal glands sit on top of the kidneys and are linked to the stress response in the body). Caffeine also reduces the availability of key vitamins and minerals in the body that aid stress management and tissue repair. ‘Excess’ can be defined as more than 4 cups of coffee, or other caffeine based beverage, a day..</li>
<li><em>When hungry between meals, opt for healthier snacks</em> like a piece of fruit or vegetable (e.g. apple, pear, carrot, celery stick); seeds and nuts (such as sunflower and pumpkin seeds, or a few almonds or brazil nuts). Avoid biscuits, cakes, sweets, and high-sugar energy bars, which will make you feel more sluggish and slow you down mentally as well as make you put on weight.
</li>
<li><em>Have a healthy lunch.</em> Salads, soups, light wholemeal sandwiches and wraps with healthy fillings such as lean meat fish or salad. are ideal. Avoid heavy meals or foods with high fat content such as croissants, burgers, mayonnaise, cream, etc. and also alcohol and sugar as these will make you sluggish all afternoon and impair your performance. </li>
<li><em>For your evening meal aim to grill, steam, bake, poach or simmer</em> meats, fish and vegetables rather than frying. Do not boil vegetables – this destroys nutrients. Instead, choose steaming or microwave cooking, which have been shown to better preserve antioxidants. Do not burn or blacken foods (e.g. overbarbequed) as this generates harmful chemical compounds associated with increased cancer risk.</li>
<li><em>Prevent over-eating</em>  by recognising that there is a delay of about 20 minutes between consuming food and the brain signalling that you have had enough. </li>
<li><em>Consume Essential Fatty Acids (EFA’s) every day.</em> These are the ‘good fats’ found in oily fish, nuts and seeds etc. These fats assist heart, liver and brain function, help maintain joint mobility, moisturise the skin and help to prevent heart disease. A good way to keep up your intake of these oils is to add a tablespoon of flaxseeds or hempseeds (ground if possible) to your morning cereal or to add
them to salads.</li>
<li><em>For weight balance</em> most active men can afford to eat around 2500 calories a day and active women around 2000. For weight loss aim to reduce your caloric intake by 500 calories. If you need to lose a significant amount of weight get appropriate advice from your G.P or a Nutritional Professional. To increase weight you need to increase the amount of protein and carbohydrate foods that
you eat and get advice from a Nutritional Professional. </li>
<li><em>If you are a smoker then cut down or get help to quit.</em>  Smoking significantly impairs absorption of key nutrients putting you at increased risk of various diseases.</li>
<li><em>Moderate your alcohol intake.</em> Red wine is high in phytonutrients and a glass a day is thought to be good for the heart. However excess alcohol intake can cause dehydration and kidney and liver damage. Do not exceed 21 units (male) or 14 units (female) of alcohol per week (a unit = 1 moderate sized glass of wine, one pub measure of spirits or half a pint of beer). Have at least 1-2 alcohol-free days
a week to give your body a rest.</li>
                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>
